@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

section {
    display: block;
    position: relative;
    margin: auto;
    width: 100%;
    height: 655px;
    background-color: #0000001a;
}
article#content {
    display: block;
    position: relative;
    height: inherit;
    width: inherit;
}
