@charset "UTF-8";

header {
	display: block;
	width: 100%;
	height: max-content;
	position: fixed;
	z-index: 4;
}

._header {
	display: block;
	width: 100%;
	height: max-content;
	background-color: #37c6f4;
	float: left;
}

li {
	display: block;
	padding: 5px 12px;
	list-style: none;
	font-size: 12pt;
	font-weight: 600;
	letter-spacing: 1pt;
	float: left;
	color: #FFF;
}

li.title_li a {
	font-size: 12pt;
	font-weight: 600;
	letter-spacing: 1pt;
	float: left;
	color: #FFF;
}

li.profile_li {
	padding: 2px;
	float: right;
}

li.nickName_li {
	float: right;
}

.header_profile_img {
	background-size: 100%;
	width: 28px;
	height: 28px;
	border-radius: 50%;
}

._dashItem a {
	position: relative;
	bottom: 2px;
}

.reply {
    background-color: cornflowerblue;
    width: fit-content;
    position: sticky;
    left: 144%;
    padding: 7px;
    color: white;
    border: 1px solid lightgrey;
    border-radius: 20px;
    font-size: 10pt;
}

.boxOpen.msgBox {
    width: 70%;
    height: 590px !important;
}

.boxOpen.indvMsgBox{
    min-width: 700px;
	height:65%;
}

.dashlist {
	display: inline-block;
	padding: 0 15px 0 0;
	width: 20%;
	height: 100%;
	overflow: overlay;
}

.dashlist>* {
	position: relative;
	background-color: blanchedalmond;
	margin: 0 5px 10px 5px;
	border-radius: 20px;
}

.msglist {
    display: inline-block;
    background-color: aliceblue;
    width: 65%;
    height: 100%;
    margin-left: 10px;
    padding: 0 15px;
    overflow: overlay;
    border-radius: 20px;
}

span.sum {
	width: 25px;
	height: 25px;
	background-color: red;
	border-radius: 50%;
	color: white;
	position: absolute;
	top: 2px;
	right: 10px;
}

.divinner>* {
	display: inline-block;
	height: 30px;
	width: 80%;
	margin-top: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	white-space: nowrap;
}

.mainDiv {
    display: block;
    height: 450px;
    width: 100%;
}

.msglist>div {
	background-color: white;
	border-radius: 50px;
	margin: 8px;
	padding: 5px;
	height: 28px;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: break-all;
	width: 96%;
}

.opened>* {
	color: gray;
}


.msg {
	border: 1px solid gray;
}

.msgfrom{
	font-size: x-small;
}
.msgdate{
	font-size: x-small;
}

.msglist>div>* {
	margin: 5px;
	height: inherit;
	vertical-align: middle;
}

.openMsgcontent {
	height: 200px;
	background-color: lavender;
	border-radius: 20px;
	padding: 20px;
	border: 1px solid lightgrey;
}

.openMsgtitle {
	background-color: lavender;
	border-radius: 20px;
	padding: 5px 20px;
}

.openMsgDiv>* {
    text-align: left;
    margin: 5px 0;
    border-radius: 20px;
    font-size: small;
}

.openMsgfrom {
	padding: 5px 20px;
	background-color: lightgray;
}

.openMsgdate {
	background-color: lightgrey;
	padding: 5px 20px;
}

.openMsgDiv span:nth-child(1) {
	background-color: beige;
    border-radius: 20px;
    padding: 5px;
    display: inline-block;
}

#idForm div:nth-child(2), #idForm div:nth-child(3){
	background-color: lightgray;
}

.boxOpen.writeBox {
    min-width: 700px;
    height: 66%;
}
	
span.msgSpan {
    background-color: beige;
    border-radius: 20px;
    padding: 5px;
    display: inline-block;
}

span#msgCaption {
    float: left;
    font-size: smaller;
    line-height: 35px;
}
.msgCaption {
    display: block;
    margin: 10px;
}

input.indvMsgtitle {
    padding-left: 5px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    box-shadow: none;
    background-color: transparent;
}

input.indvMsgtitle:focus{
	box-shadow:none;
	outline:none;
	background-color:transparent;
}

input.indvopenMsgto, input.indvopenDno{
    background-color: transparent;
    border: none;
}
input.indvopenMsgto:focus, input.indvopenDno:focus, .indvopenMsgcontent:focus{
	box-shadow:none;
}

.indvopenMsgcontent {
    display: inline-block;
    margin-top: 21px;
    width: 93%;
    height: 204px;
}

.msgBox input[type="submit"], .msgBox input[type="button"],
.indvMsgBox input[type="submit"], .indvMsgBox input[type="button"] {
    width: max-content;
    border: 0px;
    border-radius: 5px;
    background-color: darkslateblue;
    color: white;
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
}

.msgDiv {
    background-color: lavender;
    border-radius: 10px;
    padding: 0px 15px;
    height: 35px;
    margin: 8px 0px;
}

.hiddenspan{
	visibility: hidden;
}

li._dashLi {
    padding: 0;
    margin: 0 15px;
}

li._dashItem {
    background-color: #5a94af;
    border-radius: 25px;
    box-shadow: 0px 1px 1px #22576f;
    padding: 5px 10px 5px 10px;
    margin: 1.5px 2.5px 0px 2.5px;
    width: 100px;
    text-align: center;
    font-weight: 100;
    font-size: 10pt;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

li._dashItem:hover {
    background-color: #abd5e8;
    color : #3d3d3d;
    box-shadow: 0px 1px 1px #22576f, inset 0 0 0px 2px #5a94af;
}

li.selectDash {
    background-color: rgb(171, 213, 232);
    color: rgb(61, 61, 61);
    box-shadow: rgb(34, 87, 111) 0px 1px 1px, rgb(90, 148, 175) 0px 0px 0px 2px inset;
}

span.dashboardCloseBtn {
    display: inline-block;
    margin: 0 5px;
    padding: 0px 4.5px;
    background-color: #29B6F6;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 0px #0277BD;
    color: #fff;
    font-size: 8pt;
}

select.indvopenDno {
    float: left;
    width: 86%;
    height: 25px;
    margin: 5px 0 0 8px;
}

select.indvopenMsgto {
    float: left;
    margin: 5px 0 0 10px;
    height: 25px;
    width: 94%;
}

.msgDiv:nth-child(4) {
    height: max-content;
    padding: 5px;
}

.msgAlarm {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 9999;
    width: 400px;
    height: 125px;
    margin: 20px;
    padding: 8px;
    box-shadow: 0 0 3px 1px #00000080;
}

.msgAlarm p {
    font-size: 10pt;
    letter-spacing: 0.8pt;
    padding: 2px 10px;
    margin: 3px;
}

.msgAlarm p span {
	font-weight: 600;
}

.msgAlarm p:nth-child(3) {
    font-size: 9pt;
    height: 35px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.msgAlarm p:nth-child(4) {
    font-size: 8pt;
    color: #888;
    float: right;
}