@charset "UTF-8";

header {
	display: block;
	width: 100%;
	height: max-content;
	position: fixed;
	z-index: 4;
}

._header {
	display: block;
	width: 100%;
	height: max-content;
	background-color: #37c6f4;
	float: left;
}

li {
	display: block;
	padding: 5px 12px;
	list-style: none;
	font-size: 12pt;
	font-weight: 600;
	letter-spacing: 1pt;
	float: left;
	color: #FFF;
}

li.title_li a {
	font-size: 12pt;
	font-weight: 600;
	letter-spacing: 1pt;
	float: left;
	color: #FFF;
}

li.profile_li {
	padding: 2px;
	float: right;
}

li.nickName_li {
	float: right;
}

.header_profile_img {
	background-size: 100%;
	width: 28px;
	height: 28px;
	border-radius: 50%;
}

._dashItem a {
	position: relative;
	bottom: 2px;
}

.dashlist {
	display: table-cell;
	width: 30%;
	height: 100%;
	overflow: auto;
	
}

.dashlist>* {
    background-color: blanchedalmond;
    margin: 0 5px 10px 5px;
    border-radius: 20px;
}

.msglist {
	display: table-cell;
    background-color: aliceblue;
    width: 70%;
    height: 100%;
    overflow: auto;
    border-radius: 20px;
}

span.sum {
	width: 25px;
	height: 25px;
	background-color: red;
	float: right;
	border-radius: 50%;
	color: white;
	margin-right: 5%;
}

.divinner>* {
	display: inline-block;
    height: 30px;
    margin-top: 5px;
}
.mainDiv{
	display: table;
	height: 90%;
	width: 100%;
	table-layout: fixed;
	min-width:500px;
}


.msglist>div {background-color: white;border-radius: 50px;margin: 8px;}

.notopened>* {
    color: gray;
}



.msg {
    border: 1px solid gray;
}

.msgfrom {
    font-size: x-small;
}

.msglist>div>*{
    margin:5px;
}
