@charset "UTF-8";

.myPageContent {
	position : absolute;
    padding: 15px;
    width: 60%;
    height: max-content;
    background-color: #fff;
}

div#myProfile {
    margin-left: 22%;
}

.myProfileBox {
    height: max-content;
    width: 100%;
    padding: 5px 0;
}

div#p_header {
    margin: 5px auto;
}

p#p_mnick {
    font-weight: 600;
    font-size: 13pt;
    letter-spacing: 0.8pt;
}

p#p_mabout {
    font-weight: 100;
    font-size: 11pt;
    color: #4c4c4c;
    max-height: 200px;
    overflow: hidden visible;
    word-break: break-all;
    text-overflow: ellipsis;
}

div#p_body {
    margin-left: 2%;
    margin-top: 12px;
}

.myImgBox {
    width: 125px;
    height: 125px;
    display: block;
    position: absolute;
    top: 0;
    transform: translateY(-50%) translateX(25%);
    background-size: 100%;
    border: 1px solid #aaa;
    border-radius: 50%;
    box-shadow: 0px 1px 4px #99999980;
}

fieldset {
    border: 0;
    border-top: 1px solid #bbbbbb;
    padding: 10px 5px 0 5px;
    margin: 20px 0;
}

legend {
    text-align: left;
    padding: 0 20px;
    margin-left: -5px;
    font-size: 12pt;
    font-weight: 600;
}

.dashItem {
    display: inline-block;
    width: 192px;
    height: 145px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 1px #a0a8ab;
    padding: 10px;
    margin: 6px;
}

._owner {
	background-color: #ccf2ff;
}

._owner:hover {
    background-color: #ccf2ff;
    box-shadow: inset 0 0 2px 4px #85dde6, 0 1px 2px 1px #a0a8ab;
}

._belong{
	background-color: #dce9ab;
}

._belong:hover {
    background-color: #dce9ab;
    box-shadow: inset 0 0 2px 4px #afc36f, 0 1px 2px 1px #a0a8ab;
}

.dashItem p {
    margin: 2px 0;
}

._owner p.d_title span:nth-child(1){
	color: #215861;	
}

._belong p.d_title span:nth-child(1){
	color: #5a682e;	
}

p.d_title span:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1pt;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: block;
}

._owner p.d_date {
	color: #134a4e;
}

._belong p.d_date span {
	color: #7b8748;
}

p.d_date span {
	margin-left : 5px;
	font-size: 9pt;
    font-weight: 100;
}

p.d_nick {
    float: left;
}

.d_nick span:nth-child(1) {
    width: 25px;
    height: 25px;
    display: inline-block;
    border: 1px solid #00838F;
    border-radius: 50%;
    background-size: 100%;
    float: left;
}

._owner .d_nick span:nth-last-child(1) {
	color: #134a4e;
}

._belong .d_nick span:nth-last-child(1) {
	color: #7b8748;
}

.d_nick span:nth-last-child(1) {
    font-size: 9pt;
    font-weight: 100;
    margin-top: 0;
    margin-left: 5px;
}

.d_body {
    clear: both;
}

._owner p.d_desc{
	color: #32747f;	
}

._belong p.d_desc{
	color: #5a682e;	
}

p.d_desc {
    font-weight: 100;
    font-size: 9pt;
    height: 75px;
    line-height: 150%;
    padding-right : 15px;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden visible;
}

.addDashBox1 fieldset,
.addDashBox2 fieldset,
.addDashBox3 fieldset {
	display : block;
	border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    width : 300px;
    margin : 10px 0;
}

.addDashBox1 fieldset div,
.addDashBox2 fieldset div,
.addDashBox3 fieldset div {
	margin : 8px 0;
}

.addDashBox1 p,
.addDashBox2 p,
.addDashBox3 p {
    font-size: 12pt;
    text-align: left;
    text-indent: 3px;
    color: #599ed6;
}


.addDashBox1 input[type=text],
.addDashBox2 input[type=text],
.addDashBox1 input[type=number],
.addDashBox2 input[type=number],
.addDashBox1 textarea,
.addDashBox2 textarea {
	display : inline-block;
	width: 95%;
	margin : 5px 0;
}

div.dashRuleList, div.dashMemberList {
    display: block;
    text-align: left;
    width: 92%;
    height: max-content;
    min-height: 20px;
    margin: 5px auto !important;
    padding: 8px 10px;
    border-radius: 5px;
    box-shadow: 0 0 4px #989898;
    background-color: #eee;
}

input[name=nickSearchBtn]{
	display: inline-block;
    width: 25%;
    height: 32px;
    float: left;
    margin-left: 5px;
}

.dashRuleItem, .dashMemberItem {
    display: inline-block;
    width: max-content;
    padding: 5px;
    margin: 5px !important;
    font-size: 9pt;
    font-weight: 100;
    border-radius: 5px;
      position: relative;
}

.dashMemberItem span {
    margin-left: 30px;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}


.dashRuleDelteBtn, .dashMemberDelteBtn {
    display: inline-block;
    margin-left: 4px;
    height: max-content;
    font-size: 10px;
    width: 13px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #ccf2ff;
    box-shadow: 0 0 0px 1px #2835937a;
}

#dashRuleSelect {
	box-shadow: 0 0 2px 2px #6accea;
}

.addDashMyInfo {
    display: block;
    padding: 5px;
    font-size: 10pt;
    font-weight: 500;
    letter-spacing: 0.5pt;
    width: 97%;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: max-content;
}

img.dashMemberImg {
    border-radius: 50%;
    border: 1px solid #ddd;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3px;
}

.msgAlarm {
	position: fixed;
	background-color: #fff;
	z-index: 9999;
	width: 500px;
	height: 350px;
}