@charset "UTF-8";

.dashitem {
    display: block;
    position: relative;
    width: 230px;
    height: 125px;
    padding: 5px;
    margin: 10px;
    background-color: #87aeb0;
    float: left;
}

.dashitem_head {
    display: inline-block;
    margin: 5px 0 10px 0;
    font-size: 13pt;
    font-weight: 600;
    letter-spacing: 0.5pt;
    color: #dbf0f1;
}

.dashitem_body {
    display: inline-block;
    font-size: 10pt;
    letter-spacing: 0.5pt;
    color: #00000090;
    line-height: 18pt;
}

.dashitem_foot {
    display: inline-block;
    text-align: right;
    width: 100%;
    margin: 10px 0 5px 0;
}