@charset "UTF-8";

.myPageContent {
	position : absolute;
    padding: 15px;
    width: 60%;
    height: max-content;
    background-color: #fff;
}

div#myProfile {
    margin-left: 22%;
}

.myProfileBox {
    height: max-content;
    width: 100%;
    padding: 5px 0;
}

div#p_header {
    margin: 5px auto;
}

p#p_mnick {
    font-weight: 600;
    font-size: 13pt;
    letter-spacing: 0.8pt;
}

p#p_mabout {
    font-weight: 100;
    font-size: 11pt;
    color: #4c4c4c;
    max-height: 200px;
    overflow: overlay;
    word-break: break-all;
    text-overflow: ellipsis;
}

div#p_body {
    margin-left: 2%;
    margin-top: 12px;
}

.myImgBox {
    width: 125px;
    height: 125px;
    display: block;
    position: absolute;
    top: 0;
    transform: translateY(-50%) translateX(25%);
    background-size: 100%;
    border: 1px solid #aaa;
    border-radius: 50%;
    box-shadow: 0px 1px 4px #99999980;
}

fieldset {
    border: 0;
    border-top: 1px solid #bbbbbb;
    padding: 10px 5px 0 5px;
    margin: 20px 0;
}

legend {
    text-align: left;
    padding: 0 20px;
    margin-left: -5px;
    font-size: 12pt;
    font-weight: 600;
}

.dashItem {
    display: inline-block;
    width: 195px;
    height: 145px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 1px #a0a8ab;
    padding: 10px;
    margin: 6px;
}

._owner {
	background-color: #ccf2ff;
}

.dashItem._owner:hover {
    background-color: #ccf2ff;
    box-shadow: inset 0 0 2px 4px #85dde6, 0 1px 2px 1px #a0a8ab;
}

.dashItem p {
    margin: 2px 0;
}

p.d_title span:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1pt;
    color: #215861;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

p.d_title span:nth-last-child(1){
	margin-left : 5px;
	font-size: 9pt;
    font-weight: 100;
    color: #134a4e;
}

p.d_nick {
    float: left;
}

.d_nick span:nth-child(1) {
    width: 25px;
    height: 25px;
    display: inline-block;
    border: 1px solid #00838F;
    border-radius: 50%;
    background-size: 100%;
    float: left;
}

.d_nick span:nth-last-child(1) {
    font-size: 9pt;
    font-weight: 100;
    margin-top: 0;
    color: #134a4e;
    margin-left: 5px;
}

.d_body {
    clear: both;
}

p.d_desc {
    font-weight: 100;
    font-size: 9pt;
    height: 75px;
    line-height: 150%;
    padding-right : 15px;
    color: #32747f;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: overlay;
}

