@charset "UTF-8";

.wboardcon {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    box-shadow: none;
    margin: 0 auto;
}

.wtasklist {
    width: 22%;
    height: 245px;
    margin: 0.5%;
    padding: 1%;
    box-shadow: 0px 1px 2px 1px #aaa;
    float: left;
    overflow: hidden visible;
}
.wboardcon input[type="text"],
.wblistobj input[type="text"],
.writeContent input[type="text"],
.wucontents input[type="text"] {
	display: block;
    width: 290px !important;
    padding: 7px;
    margin: 10px 5px;
    font-size: 9pt;
    font-weight: 600;
    letter-spacing: 1pt;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

/*
<!--드래그 방지 

   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;

wbinnerbox
width: max-content;
-->
*/

.writeContent{
	width: max-content; 	
}


input.wtxt {
    width: 220px !important;
    resize: none;
}
input.wtitle {
    width: 220px !important;
    resize: none;
}
input.wdate {
    width: 220px !important;
    resize: none;
}

div.wcontent {
    width: 96.5%;
    height: 200px;
    resize: none;
    white-space: pre-wrap;
    text-align:left;
    box-shadow: 0 0 0 1000px #eee inset, 0 0 4px #989898;
    border: 0;
    background-color: #eee;
    border-radius: 5px;
    -webkit-text-fill-color: #3d3d3d;
    padding-left: 15px;
}
.writeContent p input {
    display: inline-block !important;
    margin-left: 5px;
}

.writeContent p span {
    display: inline-block;
    min-width: 55px;
    text-align: left;
   
}
.writeContent{
	width: 376px;
	
}

#wbdelete{
	width: 30px;	
}

#wupic{
	width: 282px !important; 
}
#wutitle{
	width: 282px !important;
}
.winsertbtn{
	margin-top: 10px;
}
.winsertbtn{
	margin-top: 10px;
}
#wbhibtn{
	margin-top: 10px;
}
.wdate span{
	min-width: 50px;
}

#summernotediv{
	text-align: left;
}

#wbstartdate{
	width: 125px !important;
	text-align: center;
}

#wbenddate{
	width: 125px !important;
	text-align: center;
}

.wbtadd {
    width: 15px !important;
    height: 15px !important;
    font-family: serif;
    margin-left: 13px;
    margin-top: -2px;
    background: powderblue;
    text-align: center;
    cursor: pointer;
    padding-top: 0px;
    padding-left: 5px;
    padding-bottom: 13px;
    border-radius: 75px !important;
    font-size: 18pt;
    box-sizing: content-box;
}

.cpwtasklist{
	display: inline-flex;
}

.wblistdiv {
	display: block;
	width: max-content;
	height: max-content;
	border: 0;
	box-shadow: none;
}


/*<!-- 글쓰기  -->*/

.wblistdiv{
	width: 350px;
}

#wbenddate1, #wbstartdate1{
    height: 15px;
    width: 133px !important;
    text-align: center;
    margin: 10px 5px;
}

#calconf{
	width: 42px !important;
    margin-left: 10px;
}

.sptag{
	display: inline-flex;
}

#btnsc{
	display: inline-flex;
}

#wbsend{
	width: 85px !important;
   
}

