@charset "UTF-8";

.wmemoDiv,
.wchatDiv {
    margin: 5px !important;
    padding: 5px;
    height: 94%;
    width: -webkit-fill-available;
    position: relative;
    top: 0;
}

.wmSetting,
.wrSetting {
	margin : 0 !important;
    height: max-content;
}

.wmSetting button,
.wrSetting button {
    font-size: 9pt;
    font-weight: bold;
    letter-spacing: 1pt;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #00000080;
    padding: 2px 4px;
    color: #676767;
}

.pop {
    position: absolute;
    top: 30px;
    height: max-content;
    width: max-content;
}

.btnList li {
    color: #676767;
    font-size: 9pt;
    font-weight: 400;
    padding: 2px 4px;
    float: none;
    border-bottom:1px solid #ccc;
    text-align: center;
}

.btnList li:hover {
    background-color : #ddd;
}

.btnList li:nth-last-child(1){
    border-bottom:0
}


.btnList {
    margin-top:2px;
    height: max-content;
    overflow: hidden;
    border-radius: 5pt;
    border: 1px solid #ccc;
    box-shadow:1px 1px 1px #00000080;
    background-color: #fff;
}

.wmContent {
    position: relative;
    margin: 10px !important;
    height: 94%;
    width: -webkit-fill-available;
    font-size: 10pt;
}


.fontSmallBtn {
	font-weight: 400 !important;
}

.fontBoldBtn, .wmContent b {
	font-weight: 700;
}

input[type="file"] {
	position:absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
}

label.fileLabel {
    display: inline-block;
    width: max-content;
    background-color: #599ed6;
    color: #fff;
    border-radius: 5px;
    padding: 4px 6px;
    position: relative;
    font-size: 11pt;
    top: 2px;
}

input.fileUploadName {
    width: 60%;
    display: inline-block;
}

.imageDiv {
    width: 250px;
}

span.wmMsg {
    font-size: 10pt;
    position: relative;
    top: 1px;
    left: 5px;
    color: #888;
    opacity: 0;
}

.imageScaleBox {
    padding: 5px;
    position: absolute;
    width: max-content;
    height: max-content;
    background-color: #ffffffde;
    z-index: 20001;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px #ccc;
}

.imageScaleBox input {
    display: inline-block;
    width: 45px;
    margin: 5px;
}

.imageScaleBox input[type=checkbox] {
    margin: 0;
    width: auto;
    position: relative;
    top: 3.5px;
}

.imageScaleBox p {
    font-size: 8pt;
    margin: 5px;
    color: #777;
}

.wrContent {
    display: inline-block;
    border: 1px solid #ccc;
    margin: 0 5px 0 0 !important;
    padding: 5px;
    width: 75%;
    height: -webkit-fill-available;
    font-size: 10pt;
    overflow: overlay;
    float: left;
    background-color: #fff;
}

button.messageSubmitBtn.grayBtn {
    margin: 0;
}

.wrChatLog {
    width: 100%;
    height: 80%;
    margin: 5px 0 !important;
    border: 1px solid #ccc;
    overflow: overlay;
    position: relative;
    box-shadow: inset 0px 0px 3px 1px #ddd;
    background-color: #cccccc38;
}

.msgOther {
	background-color: #FFFFFF;
	box-shadow: 1px 0px 3px 1px #ccccccdd;
    
}
.msgL {
	float: left;
    clear: both;
}

.msgMe {
	background-color: #FFEB3B;
	box-shadow: -1px 0px 3px 1px #ccccccdd;
    
}

.msgR {
	float: right;
    clear: both;
}

.messageBox {
    width: max-content;
    height: max-content;
    max-width: 93%;
    margin: 5px 15px !important;
}

.msgCon {
    padding: 5px;
    border-radius: 5px;
    min-height: 20px;
    width: max-content;
    height: max-content;
    max-width: 100%;
    font-size: 10pt;
    margin-top: 5px !important;
}

p.wcMnick {
	font-size: 9pt;
	
}

.wchatDiv img {
    max-width: 100%;
}

.viewImgDiv {
    max-width: 800px;
    max-height: 505px;
    overflow: overlay;
}

